<section id="proyectos" class="proyectos">
    <div class="container-fluid animate__animated animate__fadeIn">
        <h1 class="text-center sub-title">PROYECTOS</h1>
        <div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <img src="../../assets/img/portafolio.PNG" alt="" style="box-shadow: 4px 6px 20px lightgrey;border-radius:5px 5px 5px 5px; max-width: 100%;">
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="description-div">
                        <p class="number">01</p>
                        <p class="title">PORTAFOLIO</p>
                        <P class="description">El portafolio online es un espacio virtual en el que puedes consignar<br> todos los detalles sobre tu formación y tu trayectoria profesional, <br>empleando los recursos propios de la comunicación digital.</P>
                        <p class="herramientas">Herramientas : </p>
                        <div class="grid-icon">
                            <span class="text-danger">Angular<i class="fab fa-angular fa-2x"></i></span>
                            <span class="icon-html">HTML<i class="fab fa-html5 fa-2x"></i></span>
                            <span class="icon-css">CSS<i class="fab fa-css3-alt fa-2x"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <img src="../../../assets/img/CalculadoraProsupuesto.png" alt="" style="box-shadow: 4px 6px 20px lightgrey;border-radius:5px 5px 5px 5px; max-width: 100%;">
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="description-div">
                        <p class="number">02</p>
                        <p class="title">CALCULADORA DE PRESUPUESTO</p>
                        <p class="herramientas">Herramientas :</p>
                        <div class="grid-icon">
                            <span class="text-danger">Angular<i class="fab fa-angular fa-2x"></i></span>
                            <span class="icon-html">HTML<i class="fab fa-html5 fa-2x"></i></span>
                            <span class="icon-css">CSS<i class="fab fa-css3-alt fa-2x"></i></span>
                            <span class="icon-github"><a href="https://github.com/stiv-developer/calculadoraProsupuesto"><i class="fab fa-github fa-2x"></i></a></span>
                            <span class="icon-link"><a href="https://suspicious-bardeen-23e550.netlify.app"><i class="fas fa-external-link-alt fa-2x"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</section>