.proyectos {
    padding-top: 75px;
}

.grid {
    display: grid;
    grid-gap: 10px;
}

.cards {
    background: #fff;
    padding: 15px;
    border-radius: 11px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
}

.cards:hover {
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.19);
}

.cards img {
    border-radius: 5px;
    max-width: 550px;
    width: 100%;
}

.cards .title {
    margin-bottom: 0px;
    padding: 10px 0px;
    font-weight: bold;
    color: #2a3b47;
    font-size: 1.2rem;
}

.cards .description {
    color: #697477;
    font-size: .8rem;
}

.cards .project-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}

.cards .project-list li {
    padding: 7px 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angular {
    color: #e72d40;
    font-weight: bold;
}

.html {
    color: #dd4c25;
    font-weight: bold;
}

.css {
    color: #1f5faa;
    font-weight: bold;
}

.java {
    color: #464242;
    font-weight: bold;
}

.options {
    display: flex;
}

.options a {
    color: rgb(59, 58, 58);
    padding-right: 10px;
}

.options a:hover {
    color: black;
}

@media screen and (min-width: 480px) {
    .grid {
        /* grid-template-columns: 1fr 1fr; */
        grid-column-gap: 25px;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        /* grid-template-columns: 1fr 1fr; */
    }
    .wrapper {
        max-width: 540px;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 940px;
        margin: auto;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .proyectos {
        padding-top: 100px;
    }
}

@media screen and (min-width: 1199px) {
    .wrapper {
        max-width: 1140px;
        margin: auto;
    }
}