<section id="proyectos" class="proyectos">
    <div class="container-fluid animate__animated animate__fadeIn">
        <h1 class="text-center sub-title">PROYECTOS</h1>
        <div class="wrapper">
            <div class="grid">
                <div class="cards" *ngFor="let proyecto of proyectos">
                    <img src="{{proyecto.img}}" alt="img-cajero-automatico">
                    <div class="group">
                        <div class="elementos wan">
                            <p class="title">{{proyecto.name}}</p>
                            <p class="description">{{proyecto.description}}</p>
                            <ul class="project-list">
                                <li class="{{proyecto.icon.icon01.clase}}">{{proyecto.icon.icon01.name}}<i class="{{proyecto.icon.icon01.fa}}"></i></li>
                                <li class="{{proyecto.icon.icon02.clase}}">{{proyecto.icon.icon02.name}}<i class="{{proyecto.icon.icon02.fa}}"></i></li>
                                <li class="{{proyecto.icon.icon03.clase}}">{{proyecto.icon.icon03.name}}<i class="{{proyecto.icon.icon03.fa}}"></i></li>
                                <li class="{{proyecto.icon.icon04.clase}}">{{proyecto.icon.icon04.name}}<i class="{{proyecto.icon.icon04.fa}}"></i></li>
                            </ul>
                        </div>
                        <div class="options">
                            <a class="button-github" href="{{proyecto.options.buttonGitHub.href}}">GitHub<i class="fab fa-github fa-2x"></i></a>
                            <a class="button-visit" href="{{proyecto.options.buttonVisit.href}}" *ngIf="proyecto.options.buttonVisit.href">Visitar<i class="fas fa-external-link-alt fa-2x"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="group">
            <p class="otros">Otros proyectos destacables</p>
            <a class="ver-mas" (click)="VerProyectos()">Ver más proyectos</a>
        </div>
    </div>
</section>