<section id="educacion" class="educacion">
    <div class="container animate__animated animate__fadeIn">
        <br>
        <h1 class="text-center sub-title-e">EDUCACION</h1>
        <br>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-2 col-sm-1">
                        <p class="educacion-number">1</p>
                    </div>
                    <div class="col-10 col-sm-11">
                        <h3 class="educacion-title">INSTITUTO TECNOLOGICO SUPERIOR CIBERTEC</h3>
                        <h5 class="educacion-subtitle">Computacion e informatica 2017 - 2020</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-certificado" width="500" src="../../assets/img/iconos/certificado.svg">
            </div>
        </div>
        <hr>
        <div class="educacion-footer">
            <img class="img-comillas" src="../../assets/img/iconos/comillas.png" alt="">
            <h4 class="text-titu">LA EDUCACIÓN <br> NO ES PREPARACIÓN PARA LA VIDA, LA EDUCACIÓN ES LA VIDA MISMA.</h4>
        </div>
    </div>
    <br>
</section>