<!-- INICIO -->
<div id="circle"></div>
<section class="inicio" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-6 col-xxl-6">
                <div class="textBox">
                    <h1 class="display-4">STIV RUA<br>
                        <span class="typed"></span></h1>
                    <a href="https://wa.me/51924588249?text=Hola%20necesito%20informacion">Contactame <i class="fab fa-whatsapp "></i></a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-6 col-xxl-6">
                <div class="imgBox">
                    <button class="story">
                             <div class="profile">
                                <img width="535" src="../../assets/img/foto-perfil.png" alt="">
                             </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="pague.component.js">
</script>