<!-- INICIO -->
<div id="circle"></div>
<section class="inicio" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-6 col-xxl-6">
                <div class="textBox">
                    <h1 class="display-4">STIV RUA<br>
                        <span class="typed"></span></h1>
                    <div class="flex">
                        <a class="contactame" href="https://wa.me/51924588249?text=Hola%20necesito%20informacion">Contáctame <i class="fab fa-whatsapp fa-2x"></i></a>
                        <a class="portafolio" href="#proyectos">Ver portafolio</a>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-6 col-xxl-6">
                <div class="imgBox">
                    <button class="story">
                             <div class="profile">
                                <img width="535" src="../../assets/img/foto-perfil.png" alt="">
                             </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="pague.component.js">
</script>