section.habilidades {
    padding-top: 75px;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    width: 100%;
}

.sub-title-h {
    font-size: 1.7rem;
    font-weight: 800;
    padding-bottom: 20px;
    color: #0077B6;
    margin: 0px;
}

.title-cards {
    text-align: center;
    color: #268ec5;
    font-size: 1rem;
    font-weight: 600;
}

.card-h {
    background: #fff;
    padding: 10px;
    padding-top: 25px;
    position: relative;
    box-shadow: 0 10px 30px rgb(75 89 123 / 13%);
}

.card-h:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    background: linear-gradient( 312.39deg, #26b1fc 0%, #bacff3 100%);
    box-shadow: 0 4px 9px rgb(116 123 247 / 25%);
}

.card-h img {
    width: 100%;
    height: 50px;
}

.card-h .titulo {
    margin: 13px 0px;
    color: #0077B6;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.card-h .description {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: 12fr;
    grid-row-gap: 25px;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 6fr 6fr;
        grid-gap: 25px;
    }
    .title-cards {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 812px) {
    .container {
        max-width: 1140px !important;
    }
    section.habilidades {
        padding-top: 120px;
    }
    .container {
        padding-left: 90px;
    }
    .grid {
        grid-template-columns: 6fr 6fr 6fr;
        grid-gap: 25px;
    }
}

@media screen and (min-width: 1198px) {
    section.habilidades {
        padding-top: 100px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        padding-left: 0;
    }
}