<section id="habilidades" class="habilidades">
    <div class="container">
        <h1 class="text-center sub-title-h">HABILIDADES</h1>
        <p class="title-cards">Tecnologías con las que trabajo</p>
        <div class="animate__animated animate__fadeIn">
            <div class="grid">
                <div class="card-h" *ngFor="let habilididad of habilidades">
                    <div style="display: flex;">
                        <img src="{{habilididad.img.img01}}" alt="">
                        <img src="{{habilididad.img.img02}}" alt="" *ngIf="habilididad.img.img02">
                        <img src="{{habilididad.img.img03}}" alt="" *ngIf="habilididad.img.img03">
                    </div>
                    <p class="titulo">{{habilididad.name}}</p>
                    <p class="description">{{habilididad.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>