<section id="contacto" class="contacto">
    <div class="container animate__animated animate__fadeIn">
        <h1 class="text-center sub-title-c">CONTACTO</h1><br>
        <div class="row">
            <div class="col-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="grid_contacto mt-3">
                    <a href="#" class="item-contacto btn btn-lg form-control">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="fw-bold mt-3">Correo</h4>
                                <h5 class="text-dark fw-bold">gmail@estvrak31</h5>
                            </div>
                            <div class="col-6 ">
                                <i class="far fa-envelope fa-4x mt-2 icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="grid_contacto mt-3">
                    <a href="#" class="item-contacto btn btn-lg form-control">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="fw-bold mt-3">Telefono</h4>
                                <h5 class="text-dark fw-bold">+51 924 588 249</h5>
                            </div>
                            <div class="col-6 ">
                                <i class="fas fa-phone fa-4x mt-2 icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-1 col-md-1 col-lg-1 col-xl-1"></div>
            <!--2 fila-->
            <div class="col-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="grid_contacto mt-3">
                    <a href="https://wa.me/51924588249?text=Hola%20necesito%20informacion" class="item-contacto btn btn-lg form-control">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="fw-bold mt-3">WhatsApp</h4>
                                <h5 class="text-dark fw-bold">Mi Watsapp</h5>
                            </div>
                            <div class="col-6 ">
                                <i class="fab fa-whatsapp fa-4x mt-2 icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="grid_contacto mt-3">
                    <a href="https://www.linkedin.com/in/stiv-rua-436567196/" class="item-contacto btn btn-lg form-control">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="fw-bold mt-3">linkedin</h4>
                                <h5 class="text-dark fw-bold">linkedin Stiv Rua</h5>
                            </div>
                            <div class="col-6 ">
                                <i class="fab fa-linkedin-in fa-4x mt-2 icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-1 col-md-1 col-lg-1 col-xl-1"></div>
            <!--fila 3-->
            <div class="col-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="grid_contacto mt-3">
                    <a href="https://github.com/stiv-developer" class="item-contacto btn btn-lg form-control">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="fw-bold mt-3">GitHub</h4>
                                <h5 class="text-dark fw-bold">github.com/stiv-developer</h5>
                            </div>
                            <div class="col-6 ">
                                <i class="fab fa-github fa-4x mt-2 icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="grid_contacto mt-3">
                    <a href="https://www.youtube.com/channel/UCWr7kSOo1_cEuij8tUcvvYg?view_as=subscriber" class="item-contacto btn btn-lg form-control">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="fw-bold mt-3">YouTube</h4>
                                <h5 class="text-dark fw-bold">@CopyPaste</h5>
                            </div>
                            <div class="col-6 ">
                                <i class="fab fa-youtube fa-4x mt-2 icon"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-1 col-md-1 col-lg-1 col-xl-1"></div>
        </div>

    </div>
</section>