<div class="wrapper" id="sobremi">
    <h1 class="text-center sub-title">SOBRE MI</h1>
    <div class="card_1">
        <p class="titulo-commet">¿QUIÉN SOY YO?</p>
        <div class="bot">
            <img class="foto-perfil" src="../../../assets/img/foto-perfil.png" alt="">
            <div class="group-name">
                <p class="nombre">Stiv Joseph Rua Avendaño</p>
                <p class="correo">{{correo}} <img class="img-peru" src="../../../assets/img/peru-mini.svg" alt=""></p>
            </div>
        </div>
        <div class="bot-main">
            <p>Egresado de Computación e Informática. Con capacidad de trabajo en equipo, dominio de las más modernas técnicas y herramientas de trabajo. Autodidacta y con gran iniciativa personal, imaginación y capacidad para adoptar diferentes soluciones
                a los problemas que puedan surgir en el trabajo de programación.</p>
        </div>
        <div class="bot-footer">
            <hr>
            <div>
                <button id="like" class="icon-footer" (click)="clickLike()"><i class="fas fa-thumbs-up"></i> {{contadorLike}}</button>
                <button id="deslike" class="icon-footer" (click)="clickDeslike()"><i class="fas fa-thumbs-down"></i> {{contadorDeslike}}</button>
                <button class="icon-footer commet" disabled><i class="fas fa-comments"></i></button>
                <button class="icon-footer" disabled><i class="fas fa-share"></i></button>
            </div>
            <button class="button-dowload" (click)="dowloadPdf.dowloadPdf()">Descargar CV</button>
        </div>
    </div>
</div>