.wrapper {
    padding-top: 75px;
}

.card_1 {
    padding: 35px 20px;
    background: #fff;
    border-radius: 15px;
}

.titulo-commet {
    font-weight: bold;
    font-size: 28px;
    color: #2a3b47;
}

.foto-perfil {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.bot {
    width: 100%;
    display: flex;
}

.group-name {
    padding-left: 10px;
}

.group-name .nombre {
    color: #a0a7ac;
    font-weight: bold;
    margin: 0px;
}

.group-name .correo {
    color: #bdbdbd;
}

.img-peru {
    width: 25px;
}

.bot-main p {
    color: #697477;
    font-size: 0.9rem;
}

.bot-footer {
    display: flex;
    flex-direction: column;
}

.icon-footer {
    border: 0px;
    color: #a0a7ac;
    padding: 3px 10px;
    margin-right: 5px;
    border-radius: 10px;
    text-decoration: none;
    background: #fff;
}

.icon-footer:hover {
    background: #e5ebeb;
}

.button-dowload {
    color: #838586;
    border: 1px solid #a0a7ac;
    border-radius: 10px;
    padding: 10px 25px;
    margin-top: 10px;
    text-align: center;
    transition: 0.5s;
}

.button-dowload:hover {
    color: #fff;
    background: #22303a;
}

.img-correo {
    width: 170px;
}


/* RESPONSIVE */

@media screen and (min-width: 480px) {}

@media screen and (min-width: 724px) {
    .wrapper {
        padding: 0px 20px;
        padding-top: 75px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding-left: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        padding-top: 100px;
        max-width: 1340px;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .titulo-commet {
        font-size: 40px;
    }
    .foto-perfil {
        width: 80px;
        height: 80px;
    }
    .group-name .nombre {
        font-size: 27px;
    }
    .group-name .correo {
        font-size: 23px;
    }
    .img-peru {
        width: 30px;
    }
    .bot-main p {
        margin-top: 10px;
        font-size: 1.4rem;
    }
    .icon-footer {
        font-size: 1.2rem;
    }
    .button-dowload {
        font-size: 1.2rem;
    }
}