<section id="sobremi" class="sobremi">
    <div class="container contentmy">
        <h1 class="text-center sub-title">SOBRE MI</h1>
        <div class="card" style="border:0.5px solid lightgrey; border-radius: 15px;">
            <div class="row">
                <div class="col-1 col-md-4 col-lg-4 col-xl-4">
                    <div class="imgperu" style="width: 100%;padding-top: 40px;padding-bottom: 40px;">
                        <img src="../../../assets/img/peru.svg" width="500" alt="peru">
                    </div>
                </div>
                <div class="col-10 col-md-8 col-lg-8 col-xl-8">
                    <div class="aboutmecontent">
                        <br><br>
                        <div class="aboutheading">
                            <h1>Hola, soy Stiv Rua</h1>
                        </div>
                        <div class="aboutdesc">
                            <p>
                                Estudiante de ultimo ciclo de Computación e Informática. Con capacidad de trabajo en equipo, dominio de las más modernas técnicas y herramientas de trabajo. Autodidacta y con gran iniciativa personal, imaginación y capacidad para adoptar diferentes soluciones
                                a los problemas que puedan surgir en el trabajo de programación.</p>
                        </div>
                        <button type="button" (click)="dowloadPdf.dowloadPdf()" class="btn btn-lg btn-outline-primary btn-descargar">Descargar CV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>